.noticias-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Utilidades/Imagem/noticias/fundoNoticias.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 650px;
}
.noticias-banner{
    margin-bottom: 10%;
    color: #ffffff;
    text-align: center;
}
.noticias-banner>h1{
    margin: 0;
    font-size: 40px;
}
.noticias-banner>p{
    font-size: 39px;
    margin: 0;
}
.card-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;    
}
.card-text{
    color: #ffffff;
    width: 300px;
    position: relative;
    text-align: center;
    bottom: 160px;
}

.noticia-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.noticia-text{
    margin-bottom: 100px;
    position: relative;
    bottom: 170px;
    font-size: 20px;
}