.parceiro-bg {
	background-image: url(../Utilidades/Imagem/parceiros/fundoParceria.png);
	background-repeat: no-repeat;
	background-position: 50% bottom;
	background-size: cover;
	height: 900px;
}

.parceiro-banner {
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	padding-top: 9%;
}

.titulo-parceiros{
	text-align: center;
	font-size: 34px;
	position: relative;
	bottom: 100px;
}

.parceiro-banner>h1 {
	font-size: 40px;
	margin: 0;
}

.parceiro-banner>p {
	font-weight: 300;
	font-size: 45px;
	margin: 0;
}

#sub-titulo{
	background-color: #F0D32C;
	height: 8px;
	width: 350px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	bottom: 100px;
}
#sub-titulo-2{
	background-color: #F0D32C;
	height: 8px;
	width: 350px;
	margin: 0 auto;
	padding: 0;
}

.parceiro-conteudo {
	background-color: #030303;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 550px;
	/* top, right, bottom, left */
	padding: 0 15% 0 15%;
	margin: 10% 0 10% 0;
	gap: 50px;
	color: #ffffff;
	text-align: center;
}

.parceiro-text>p{
	font-size: 20px;
	margin: 30px 50px 0 50px;
}
.parceiro-text>h2{
	font-size: 34px;
}

.button-parceiro {
	margin-top: 30px;
	border-radius: 30px;
	font-weight: 600;
	color: #030303;
	width: 180px;
	font-size: 15px;
	text-align: center;
	background-color: #F0D32C;
}
.button-parceiro:hover{
	background-color: #f5e58b;
}

.logos-parceiros{
	margin: 20px 0 150px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-parceiros-img>img{
	object-fit: contain;
	height: 100px;
	/* top, right, bottom, left */
	padding: 0 20px 0 20px;
	
}